:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza-claro: #8f96a3;
    
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
    background-color: #0F1624;
}

header{
    background: linear-gradient(#0F1624, #2b44775e);
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 250px;

    #text_header{
        width: 700px;
    }
    div{
        h4{
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 300;
            color: white;
        }
        h1{
            color: #b47807;
            margin-bottom: 10px;
            font-size: 60px;
            font-weight: 600;
        }
        h2{
            margin-bottom: 15px;
            font-size: 30px;
            color: white;
        }
        h3{
            margin-bottom: 20px;
            color: white;
        }
        #buttons{
            display: flex;
            gap: 20px;
        }
        button{
            padding: 12px 20px;
            border-radius: 12px;
            color: white;
            background-color: transparent;
            border: 0.3px, solid, gray;
            font-weight: 500;
            font-size: 15px;
        }
        button:hover{
            background-color: #8f96a352;
            cursor: pointer;
        }
    }
    img{
        height: 600px;
        border-color: #304F74;
        box-sizing: solid;
        border-style: solid;
        border-radius: 15px 15px 15px 300px;
        box-shadow: 
        0 0 
        30px
        -3px
        rgba(184, 186, 252, 0.548);
    }
}

#container_habilidades{
    height: 85vh;
    width: 99vw;
    background: linear-gradient( #2b44775e,#0F1624);
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-bottom: 50px;

    #header_habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 22px;
            color: var(--cinza-claro);
        }
    }
    #cards_habilidades{
        display: flex;
        justify-content: space-evenly;
        width: 1200px;
        flex-wrap: wrap;
        gap: 20px;
        
        #card{
            width: 300px;
            height: 150px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #0a1327;
            border-radius: 25px;
            padding: 10px 10px 15px 15px;
            }
            h3{
                font-size: 20px;
                color: white;
            }
            h4{
                font-size: 15px;
                color: var(--cinza-claro);
            }
        #card:hover{
            box-shadow: 0 0 30px -3px rgba(77, 79, 129, 0.534);
        }
    }
}

#container_experiências{
    background: linear-gradient(#0F1624, #2b44775e);
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 99vh;
    gap: 60px;
    padding-bottom: 50px;

    #header_experiências{
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 22px;
            color: var(--cinza-claro);
        }
    }
    #cards_experiencias{
        display: flex;
        flex-direction: column;
        gap: 40px;

        #card{
            width: 800px;
            height: auto;
            padding: 20px;
            background-color:#141f36;
            border: 0.01cm solid #263047;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            #header_card{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    color: white;
                }
                h3{
                    font-size: 17px;
                    color: cornflowerblue;
                }
                h4{
                    font-size: 16px;
                    color: var(--cinza-claro);
                }
            #card_cargo{
                display: flex;
                flex-direction: column;
                gap: 15px;
                }
            }
            #card_desc{
                font-size: 18px;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .topico{
                color: wheat;
            }
        }
        #card:hover{
            box-shadow: 0 0 30px -3px rgba(104, 107, 151, 0.534);
        }
    }
    
}

#container_projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 85vh;
    gap: 50px;
    background: linear-gradient( #2b44775e,#0F1624);


    #header_projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 20px;
            color: var(--cinza-claro);
        }
    }

    .carrossel {
        overflow: hidden;
        width: 90vw;
        max-width: 1400px;
        margin: 50px auto;
    }


    #carrossel_projetos {
        display: flex;
        gap: 20px;
        height: 500px;
        background-color: black;
        padding: 10px;
        width: 3360px; 
        animation: scroll-left 20s linear infinite;
    }
    
    #carrossel_projetos:hover {
        animation-play-state: paused;
    }

    .card_carrossel {
        width: 400px;
        height: 500px;
        background-color: white;
        flex-shrink: 0; 
        color: black;
        font-size: 2em;
        display: grid;
        place-items: center;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1680px);
        }
    }

}

#container_contatos{
    background: linear-gradient(#0F1624, #2b44775e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 80vh;
    gap: 50px;

    #header_contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 20px;
            color: var(--cinza-claro);
        }
    }

    #fomr_contato{
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap:  20px;
        padding: 20px;
        background-color:#141f36;
        border: 0.01cm solid #263047;
        border-radius: 20px;

        #nome{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4{
                font-size: 15px;
                color: white;
            }
            #textnome{
                background-color: #0a1327;
                border: 1px solid #263047;
                border-radius: 10px;
                padding: 10px;
                align-items: center;
                color: white;
            }
            #textnome::placeholder{
                    font-size: 15px;
                    color: var(--cinza-claro);
                }
        }
        #Email{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4{
                font-size: 15px;
                color: white;
            }
            #textemail{
                background-color: #0a1327;
                border: 1px solid #263047;
                border-radius: 10px;
                padding: 10px;
                align-items: center;
                color: white;
            }
            #textemail::placeholder{
                    font-size: 15px;
                    color: var(--cinza-claro);
                }
        }
        #mensagem{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4{
                font-size: 15px;
                color: white;
            }
            #projeto{
                display: flex;
                align-items: start;
                background-color: #0a1327;
                border: 1px solid #263047;
                border-radius: 10px;
                height: 130px;
                padding: 10px;
                color: white;
                font-size: 15px;
                resize: none;
            }
            #projeto::placeholder{
                color: var(--cinza-claro);
                font-size: 15px;
            }
        }
    button{
        padding: 10px;
        border-radius: 15px;
        border: none;
    }
    }
    #fomr_contato:hover{
        box-shadow: 0 0 30px -3px rgba(104, 107, 151, 0.534);
    }
}

footer{
    background: linear-gradient(#0F1624);
    color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 150px;
    h3{
        font-size: 17px;
    }
}
