:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --azul-claro: #6BD1FF;
    --preto: #000000;
    --branco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
}

header{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}