@charset "UTF-8";
:root {
  --fonte-principal: "Montserrat", sans-serif;
  --fonte-logo: "Inter", sans-serif;
  --preto: #000000;
  --branco: #FFFFFF;
  --cinza-claro: #8f96a3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-principal);
  color: var(--preto);
  font-size: 16px;
  background-color: #0F1624;
}

header {
  background: linear-gradient(#0F1624, rgba(43, 68, 119, 0.368627451));
  height: 100vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}
header #text_header {
  width: 700px;
}
header div h4 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
header div h1 {
  color: #28cde2;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 600;
}
header div h2 {
  margin-bottom: 15px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
header div h3 {
  margin-bottom: 20px;
  color: rgb(224, 224, 224);
}
header div #buttons {
  display: flex;
  gap: 20px;
}
header div button {
  padding: 12px 20px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 0.3px, solid, gray;
  font-weight: 500;
  font-size: 15px;
}
header div button:hover {
  background-color: rgba(143, 150, 163, 0.3215686275);
  cursor: pointer;
}
header img {
  height: 600px;
  border-color: #304F74;
  box-sizing: solid;
  border-style: solid;
  border-radius: 15px 15px 15px 300px;
  box-shadow: 0 0 30px -3px rgba(184, 186, 252, 0.548);
}

#container_habilidades {
  height: 85vh;
  width: 99vw;
  background: linear-gradient(rgba(43, 68, 119, 0.368627451), #0F1624);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-bottom: 50px;
}
#container_habilidades #header_habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#container_habilidades #header_habilidades h1 {
  font-size: 50px;
  color: white;
}
#container_habilidades #header_habilidades h3 {
  font-size: 22px;
  color: var(--cinza-claro);
}
#container_habilidades #cards_habilidades {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  flex-wrap: wrap;
  gap: 20px;
}
#container_habilidades #cards_habilidades #card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #0a1327;
  border-radius: 25px;
  padding: 10px 10px 15px 15px;
}
#container_habilidades #cards_habilidades h3 {
  font-size: 20px;
  color: white;
}
#container_habilidades #cards_habilidades h4 {
  font-size: 15px;
  color: var(--cinza-claro);
}
#container_habilidades #cards_habilidades img {
  width: 80px;
}
#container_habilidades #cards_habilidades #card:hover {
  box-shadow: 0 0 30px -3px rgba(77, 79, 129, 0.534);
}

#container_experiências {
  background: linear-gradient(#0F1624, rgba(43, 68, 119, 0.368627451));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: 99vh;
  gap: 60px;
  padding-bottom: 150px;
}
#container_experiências #header_experiências {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
#container_experiências #header_experiências h1 {
  font-size: 50px;
  color: white;
}
#container_experiências #header_experiências h3 {
  font-size: 22px;
  color: var(--cinza-claro);
}
#container_experiências #cards_experiencias {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#container_experiências #cards_experiencias #card {
  width: 800px;
  height: auto;
  padding: 20px;
  background-color: #141f36;
  border: 0.01cm solid #263047;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#container_experiências #cards_experiencias #card #header_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container_experiências #cards_experiencias #card #header_card h2 {
  color: white;
}
#container_experiências #cards_experiencias #card #header_card h3 {
  font-size: 17px;
  color: cornflowerblue;
}
#container_experiências #cards_experiencias #card #header_card h4 {
  font-size: 16px;
  color: var(--cinza-claro);
}
#container_experiências #cards_experiencias #card #header_card #card_cargo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#container_experiências #cards_experiencias #card #card_desc {
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container_experiências #cards_experiencias #card .topico {
  color: wheat;
}
#container_experiências #cards_experiencias #card:hover {
  box-shadow: 0 0 30px -3px rgba(104, 107, 151, 0.534);
}

#container_projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: 85vh;
  gap: 50px;
  background: linear-gradient(rgba(43, 68, 119, 0.368627451), #0F1624);
}
#container_projetos #header_projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#container_projetos #header_projetos h1 {
  font-size: 50px;
  color: white;
}
#container_projetos #header_projetos h3 {
  font-size: 20px;
  color: var(--cinza-claro);
}
#container_projetos .carrossel {
  overflow: hidden;
  width: 90vw;
  max-width: 1400px;
  margin: 50px auto;
}
#container_projetos #carrossel_projetos {
  display: flex;
  gap: 20px;
  height: 500px;
  padding: 10px;
  width: 3360px;
  animation: scroll-left 20s linear infinite;
}
#container_projetos #carrossel_projetos:hover {
  animation-play-state: paused;
}
#container_projetos .card_carrossel {
  width: 400px;
  height: 500px;
  background-color: #0F1624;
  flex-shrink: 0;
  color: wheat;
  font-size: 2em;
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
#container_projetos .card_carrossel img {
  width: 400px;
  padding-bottom: 20px;
  border-radius: 10px;
}
#container_projetos .card_carrossel h2 {
  font-size: 28px;
  color: white;
  padding-bottom: 20px;
}
#container_projetos .card_carrossel p {
  font-size: 19px;
  color: var(--cinza-claro);
  padding-bottom: 10px;
  margin: 0px 12px;
}
#container_projetos .card_carrossel .btn_projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#container_projetos .card_carrossel .btn_projeto a {
  text-decoration: none;
  width: 140px;
  padding: 6px 0;
  color: white;
  font-size: 17px;
  background-color: rgba(31, 46, 77, 0.4862745098);
  border-radius: 10px;
  border: 0.3px, solid, gray;
}
#container_projetos .card_carrossel .btn_projeto a:hover {
  background-color: rgba(143, 150, 163, 0.3215686275);
  cursor: pointer;
}
#container_projetos .card_carrossel .tec {
  display: flex;
  gap: 10px;
}
#container_projetos .card_carrossel .tec h4 {
  font-size: 14px;
  padding: 5px 8px;
  background-color: rgba(19, 97, 170, 0.582);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 20px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1680px);
  }
}

#container_contatos {
  background: linear-gradient(#0F1624, rgba(43, 68, 119, 0.368627451));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: 80vh;
  gap: 50px;
}
#container_contatos #header_contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#container_contatos #header_contato h1 {
  font-size: 50px;
  color: white;
}
#container_contatos #header_contato h3 {
  font-size: 20px;
  color: var(--cinza-claro);
}
#container_contatos #fomr_contato {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #141f36;
  border: 0.01cm solid #263047;
  border-radius: 20px;
}
#container_contatos #fomr_contato #nome {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container_contatos #fomr_contato #nome h4 {
  font-size: 15px;
  color: white;
}
#container_contatos #fomr_contato #nome #textnome {
  background-color: #0a1327;
  border: 1px solid #263047;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  color: white;
}
#container_contatos #fomr_contato #nome #textnome::-moz-placeholder {
  font-size: 15px;
  color: var(--cinza-claro);
}
#container_contatos #fomr_contato #nome #textnome::placeholder {
  font-size: 15px;
  color: var(--cinza-claro);
}
#container_contatos #fomr_contato #Email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container_contatos #fomr_contato #Email h4 {
  font-size: 15px;
  color: white;
}
#container_contatos #fomr_contato #Email #textemail {
  background-color: #0a1327;
  border: 1px solid #263047;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  color: white;
}
#container_contatos #fomr_contato #Email #textemail::-moz-placeholder {
  font-size: 15px;
  color: var(--cinza-claro);
}
#container_contatos #fomr_contato #Email #textemail::placeholder {
  font-size: 15px;
  color: var(--cinza-claro);
}
#container_contatos #fomr_contato #mensagem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container_contatos #fomr_contato #mensagem h4 {
  font-size: 15px;
  color: white;
}
#container_contatos #fomr_contato #mensagem #projeto {
  display: flex;
  align-items: start;
  background-color: #0a1327;
  border: 1px solid #263047;
  border-radius: 10px;
  height: 130px;
  padding: 10px;
  color: white;
  font-size: 15px;
  resize: none;
}
#container_contatos #fomr_contato #mensagem #projeto::-moz-placeholder {
  color: var(--cinza-claro);
  font-size: 15px;
}
#container_contatos #fomr_contato #mensagem #projeto::placeholder {
  color: var(--cinza-claro);
  font-size: 15px;
}
#container_contatos #fomr_contato button {
  padding: 10px;
  border-radius: 15px;
  border: none;
}
#container_contatos #fomr_contato:hover {
  box-shadow: 0 0 30px -3px rgba(104, 107, 151, 0.534);
}

footer {
  background: linear-gradient(#0F1624);
  color: var(--cinza-claro);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 150px;
}
footer h3 {
  font-size: 17px;
}

@media (max-width: 900px) {
  header,
  #container_habilidades,
  #container_experiências,
  #container_projetos,
  #container_contatos {
    height: auto;
    padding: 50px 0;
    width: 100%;
    overflow-x: hidden;
  }
  header {
    flex-direction: column-reverse;
    gap: 40px;
    text-align: center;
  }
  header #text_header {
    width: 90%;
    padding: 0 20px;
  }
  header #text_header h1 {
    font-size: 40px;
  }
  header #text_header h4 {
    font-size: 18px;
  }
  header #text_header h2 {
    font-size: 24px;
  }
  header #text_header h3 {
    font-size: 16px;
    text-align: justify;
  }
  header #text_header #buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  header img {
    height: auto;
    width: 60%;
    max-width: 300px;
    border-radius: 50%;
  }
  #container_habilidades #header_habilidades {
    text-align: center;
    padding: 0 20px;
  }
  #container_habilidades #header_habilidades h1 {
    font-size: 35px;
  }
  #container_habilidades #header_habilidades h3 {
    font-size: 18px;
  }
  #container_habilidades #cards_habilidades {
    width: 95%;
    gap: 15px;
  }
  #container_habilidades #cards_habilidades #card {
    width: 100%;
    max-width: 350px;
  }
  #container_experiências #header_experiências {
    text-align: center;
    padding: 0 20px;
  }
  #container_experiências #header_experiências h1 {
    font-size: 35px;
  }
  #container_experiências #cards_experiencias {
    width: 95%;
    align-items: center;
  }
  #container_experiências #cards_experiencias #card {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  #container_experiências #cards_experiencias #card #header_card {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  #container_experiências #cards_experiencias #card #card_desc {
    font-size: 16px;
  }
  #container_projetos #header_projetos {
    text-align: center;
  }
  #container_projetos #header_projetos h1 {
    font-size: 35px;
  }
  #container_projetos .carrossel {
    width: 95vw;
  }
  #container_projetos #carrossel_projetos {
    width: 100%;
    overflow-x: auto;
    animation: none;
    justify-content: flex-start;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
  }
  #container_projetos #carrossel_projetos .card_carrossel {
    width: 85vw;
    height: auto;
    min-height: 500px;
    scroll-snap-align: center;
    margin-right: 15px;
  }
  #container_projetos #carrossel_projetos .card_carrossel img {
    width: 100%;
  }
  #container_contatos {
    height: auto;
    padding-bottom: 50px;
  }
  #container_contatos #header_contato {
    text-align: center;
  }
  #container_contatos #header_contato h1 {
    font-size: 35px;
  }
  #container_contatos #fomr_contato {
    width: 90%;
    height: auto;
  }
  #container_contatos #fomr_contato button {
    width: 100%;
    background-color: #2b4477;
    color: white;
    margin-top: 10px;
  }
  footer {
    text-align: center;
    padding: 20px;
  }
  footer h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */