:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --texto: rgb(192, 191, 157);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
    background: linear-gradient(to bottom,  50%,  100%);
}

header{
    background-color: #09171e;
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 250px;

    #image_header{
        padding-right: 100px;
    }
    #text_header{
        padding-left: 100px;
    }
    div{
        h4{
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 300;
            color: #F0F0F0;
        }
        h1{
            color: #8b641b;;
            margin-bottom: 10px;
            font-size: 60px;
            font-weight: 600;
        }
        h2{
            margin-bottom: 15px;
            font-size: 30px;
            color: #F0F0F0;
        }
        h3{
            margin-bottom: 20px;
            color: rgb(192, 191, 157);
        }
        #buttons{
            display: flex;
            gap: 20px;
        }
    }
    img{
        height: 600px;
        width: auto;
        border-radius: 15px 15px 15px 250px;
    }
}

#container_habilidades{
    background-color: #08171b;
    height: 99vh;
    width: 99vw;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-bottom: 100px;

    #header_habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 22px;
            color: var(--texto);
        }
    }
    #cards_habilidades{
        display: flex;
        justify-content: space-evenly;
        width: 1200px;
        flex-wrap: wrap;
        gap: 20px;
        
        #card{
            width: 300px;
            height: 150px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #0a1327;
            border-radius: 25px;
            padding: 20px;
            }
            h3{
                font-size: 20px;
                color: white;
            }
            h4{
                font-size: 15px;
                color: var(--cinza-claro);
            }
        #card:hover{
            box-shadow: 0 0 30px -3px rgba(77, 79, 129, 0.534);
        }
    }
}

#container_experiências{
    background-color: #081316;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 99vh;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 100px;

    #header_experiências{
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 22px;
            color: var(--texto);
        }
    }
    #cards_experiencias{
        display: flex;
        flex-direction: column;
        gap: 40px;

        #card{
            width: 800px;
            height: 260px;
            padding: 20px;
            background-color:#141f36;
            border: 0.01cm solid #263047;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            #header_card{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    color: white;
                }
                h3{
                    font-size: 17px;
                    color: cornflowerblue;
                }
                h4{
                    font-size: 16px;
                    color: var(--cinza-claro);
                }
            #card_cargo{
                display: flex;
                flex-direction: column;
                gap: 15px;
                }
            }
            #card_desc{
                font-size: 18px;
                color: white;
            }
        }
        #card:hover{
            box-shadow: 0 0 30px -3px rgba(104, 107, 151, 0.534);
        }
    }
    
}

#container_projetos{
    background-color: #08171b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 99vh;
    gap: 50px;
    padding-top: 10px;

    #header_projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h1{
            font-size: 50px;
            color: white;
        }
        h3{
            font-size: 20px;
            color: var(--texto);
        }
    }
    #carrossel_projetos{
        height: 500px;
        width: 500px;
        background-color: white;
    }
}

footer{
    background-color: #081316;
    color: var(--texto);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 150px;
    h3{
        font-size: 17px;
    }
}
